*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Space Grotesk", sans-serif;
    text-decoration: none;
}
.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.team{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    
}  
.content{
    width: 100%;
    max-width:  1350px; ;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    gap: 10px;
    text-align: center;
    margin-top: 6px;
    z-index: 1;
}

.content .box img{
    width:100%;
    height: 400px;
    border-radius: 15px;
    margin-bottom: 15px;
}
.content .box .cv{
    font-size: 10px;
    color: white;
}

.maincenter h1{
    color: #faa307;
    font-size: 40px;
    text-align: center;
    padding-bottom: 100px;
}

.box{
    width: 100%;
    padding: 16px;
    background: #e9edc9;
    border-radius: 15px;
    transition: all .30s ease;
    
}
