*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .1s linear;
}

body{
    background: white;
}

.Title{
text-align: center;
color: orange;

}
/** For Image slider**/
.slider 
      {
        padding-left: 200px;
      margin: 20px auto;
      /*
      box-sizing property allows us to include the padding and border in an element's total width and height.
      */
      box-sizing: border-box;
      /*The overflow is clipped, and the rest of the content will be invisible*/
      overflow: hidden;
      
      }
      .slider img 
      {
      width: 1000px;
      height: 400px;
      
      }
.opening img{
    width: 100%;
    height: 500px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3px 2px;
}


.container .subtitle{
    font-size: 40px;
    color: #054a29;
    margin-bottom: 40px;
    margin-top: 30px;
    text-align: center;
}

.container .green-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
   
}

.container .green-container .product{
text-align: center;
padding: 50px 30px;
background-color: #fff;
box-shadow: 8px 9px rgba(0, 0, 0, 0.1);
cursor: pointer;
}

.container .green-container .product:hover{
    outline: 2px solid #38b000;  
}

.container .green-container .product img{
    height: 200px;
    width: 300px;
}


.container .green-container .product h4{
    padding: 50px 0;
    font-size: 23px;
    color: #444;
}

.container .green-container .product .price{
font-size:22px;
color: #444;
text-decoration: line-through red;

}
.container .green-container .product .aftersale{
    font-size:23px;
    color: #444;
}
.container .green-container .product h6{
    color: #ef233c;
    font-weight: 300;
}

.container .green-container .product .rating{
    padding-top: 17px;
    padding-bottom: 25px;
}

.container .green-container .product .addtocart{
    border: 2px solid #38b000;
    padding:4px;
    border-radius: 5px;
    color: #444;
    font-size: 20px;
}
/** For Non_veg Products**/

.sec-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3px 2px;
    margin-top: 20px;
}


.sec-container .sec-subtitle{
    font-size: 40px;
    color: #d00000;
    margin-bottom: 40px;
    margin-top: 30px;
    text-align: center;
}

.sec-container .red-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.sec-container .red-container .product{
text-align: center;
padding: 50px 30px;
background-color: #fff;
box-shadow: 8px 9px rgba(0, 0, 0, 0.1);
cursor: pointer;
}
.sec-container .red-container .product:hover{
    outline: 2px solid #d00000;
}

.sec-container .red-container .product img{
    height: 200px;
    width: 300px;
}


.sec-container .red-container .product h4{
    padding: 50px 0;
    font-size: 23px;
    color: #444;
}

.sec-container .red-container .product .price{
font-size:22px;
color: #444;
text-decoration: line-through red;
}
.sec-container .red-container .product .aftersale{
    font-size:23px;
    color: #444;
}
.sec-container .red-container .product h6{
    color: #ef233c;
    font-weight: 300;
}

.sec-container .red-container .product .rating{
    padding-top: 17px;
    padding-bottom: 25px;
}

.sec-container .red-container .product .addtocart{
    border: 2px solid #d00000;
    padding:4px;
    border-radius: 5px;
    color: #444;
    font-size: 20px;
}

/** For Beverage Products**/

.third-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3px 2px;
    margin-top: 20px;
}


.third-container .third-subtitle{
    font-size: 40px;
    color: #48cae4;
    margin-bottom: 40px;
    margin-top: 30px;
    text-align: center;
}

.third-container .blue-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.third-container .blue-container .product{
text-align: center;
padding: 50px 30px;
background-color: #fff;
box-shadow: 8px 9px rgba(0, 0, 0, 0.1);
cursor: pointer;
}
.third-container .blue-container .product:hover{
    outline: 2px solid #48cae4;
}

.third-container .blue-container .product img{
    height: 200px;
    width: 300px;
}



.third-container .blue-container .product h4{
    padding: 50px 0;
    font-size: 23px;
    color: #444;
}

.third-container .blue-container .product .price{
font-size:22px;
color: #444;
text-decoration: line-through red;
}
.third-container .blue-container .product .aftersale{
    font-size:23px;
    color: #444;
}
.third-container .blue-container .product h6{
    color: #ef233c;
    font-weight: 300;
}

.third-container .blue-container .product .rating{
    padding-top: 17px;
    padding-bottom: 25px;
}

.third-container .blue-container .product .addtocart{
    border: 2px solid #48cae4;
    padding:4px;
    border-radius: 5px;
    color: #444;
    font-size: 20px;
}

footer{
    
    margin-left: 0px;
    margin-right: 0px;
}