*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
.maintitle{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #003049;
    text-decoration: underline;
}

.aboutref{
    text-align: center;
    font-size: 18px;
}
.headerimg img{
    float: left;
    width: 50%;
    padding: 50px 50px;
   
    
}
.explanation{
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.05);
}

.footerimg img{
    float: left;
    width: 50%;
    padding: 50px 50px;
}

.timejava img{
    float: left;
    width: 50%;
    padding: 50px 50px;
}

.slider img{
    float: left;
    width: 50%;
    padding: 50px 50px;
}
.about img{
    float: left;
    width: 50%;
    padding: 50px 50px;
}

